@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Open Sans';
    src: url('assets/fonts/OpenSans/OpenSans.woff2') format('woff2-variations'), url('assets/fonts/OpenSans/OpenSans.woff') format('woff-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

html {
    @apply font-open-sans;
}

@layer components {
    .writing-bottom-top {
        writing-mode: vertical-lr;
        transform: rotateZ(180deg);
    }
}

.range-input.noUi-target {
    weight: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background-color: transparent;
}
.range-input .noUi-base {
    display: flex;
    justify-content: center;
}

.range-input .noUi-connects {
    @apply w-[3px] shadow-base-slider-track;
}

.range-input .noUi-origin {
    @apply right-1/2
}

.range-input.noUi-vertical .noUi-handle {
    @apply w-[21px] h-[11px] shadow-base-slider-handle-vertical right-1/2 bg-base-gray-2 rounded-none border-none -bottom-[6px] translate-x-1/2;
}

.range-input.noUi-vertical .noUi-handle::after,
.range-input.noUi-vertical .noUi-handle::before {
    @apply hidden;
}

.drop-container--window .shortcut span {
    @apply text-black;
}